doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet")
    link(href="css/mainpage.css", rel="stylesheet")

    title Gastolibro

    
  body
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          .masthead.clearfix
            .inner
              ol#book
                if (book.viewAble)
                  h3(id="book-name") #{book.name}
                else
                  h3(id="book-name") book is not available
                  
              ul.nav.masthead-nav
                li.active
                  a(href='#') Hem
                li
                  a(href='#') Kontakt
          .inner.cover
            div(class="col-sm-5" id="entry-div")
              ol#entries
                if (entries)
                  for entry in entries
                    li  #{entry.name}
                    li  #{entry.headline}
                    li  #{entry.email}
                    li  #{entry.city}
                    li  #{entry.country}
                    li  #{entry.message}
                    li(id="entry-date") #{entry.createTime}
                else  
                  h5(id="error-header") Inga existerande inlägg :(
          
             



          .entry-field
            h3.cover-heading Skriv någonting! :)
            div.input-group
              input(id="name" class="form-control" type="text" placeholder="name")
            br
            div.input-group
              input(id="email" class="form-control" type="email" placeholder="email")
            br
            div.text-container
              textarea(id="message" class="form-control" rows="3" style"resize:inherit" placeholder="Leave a Message! :)")
            br
            div.input-group
              button(class="btn btn-primary" 'onclick'='load_data()')
            

          .mastfoot
            .inner
              p
                | Guest Book 
                a(href='http://www.valfridsson.net/') @Valfridsson
                | .


    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="js/mainpage.js")
